p {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 40px;
	background-color: rgba(0, 0, 0, 0.5);
}


/* ------------  CLASS  ---------------- */

figure .founderImg {
	float: right;
	width: 150px;
	height: 255px;
	padding: 20px;
	color: white;
	margin-bottom: 22px;
}



figure .habitatImg {
	float: left;
	width: 255px;
	height: 139px;
	padding: 20px;
	color: white;
}



/* ------------  ID  ---------------- */

#aboutSelected {
	background-color: #808080;
}

#founderId {
	color: white;
	text-align: center;

}

#habitatId {
	color: white;
	text-align: center;
	width: 295px;
	height: 22px;
}
