
.active {
	background: #808080;
}

img {
  width: 45%;
  height: 50%;
  margin: 0 center;
}

.card {
	width: 350px;
	height: 400px;
	margin-bottom: 125px;
	border: 1px solid grey;
	box-shadow: 1px 1px 3px #888;
	border-top: 10px solid green;
	min-height: 250px;
	padding: 20px 10px;
	margin: 10px 10px 125px 10px;
	background-color: rgba(0, 0, 0, 0.5);
	transition: all .5s ease;
/*	overflow: scroll;
	background-color: red;*/
	z-index: -1;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.1);
    z-index: -1;
    /*overflow: hidden;*/
}

.container {
    padding: 2px 16px;
    color: white;
    margin-bottom: 50px;
    line-height: 1em;
}

table {
	width:100%;
	align: center;

}



h4 {
	color: white;
	margin: 5px auto;
}

td img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
 div .container {
 	 text-align: center;
 }

#mainDiver {
	padding: 100px 0 0 50px;
}