/*  FONTS  */
* {font-family: 'Indie Flower', cursive;
font-family: 'Cinzel', serif;
}

html {
	background-image: url("../images/woodBG.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body {
	margin: 0;
	font-size: 1em; 
}

h1 {
	color: white;
	display: block;
	margin: 0 auto;
	text-align: center;
	font-family: "Indie Flower";
	letter-spacing: .1em;
}

h2 {
	color: white;
	display: block;
	margin: 0 auto;
	text-align: center;
	font-family: "Indie Flower";
	letter-spacing: .1em;
}

h3 {
	color: white;	
}


nav {
	display: block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    margin-left: 5px;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);

}

nav li {
    float: left;
    margin: 0 5px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover, a:active, a:focus {
    background-color: #808080;
}

p {
	color: white;
}


footer {
	background-color: rgba(0, 0, 0, 0.5);
	height: 25px;
	padding-top: 8px;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: .75em;
	color: white;
}


/* --------- CLASS ----------- */

.img-circle {
	display: block;
	border-radius: 50%;
	width: 40%;
	height: 40%;
	margin: 30px auto;
/*	margin-top: 100px;*/
/*	padding-top: 15px;*/
}

/*.page-img {
	width: 150px;
	height:150px;
}*/





/* --------- ID ----------- */


#mainHeader {
	margin: 0;
	width: 100%;
	position: fixed;
}

#mainHeader h1 {
	font-family: "Cinzel";
}

#mainDiv {
/*	margin-top: 105px;*/
	padding-top: 100px;
}

#companyName {
	text-align: center;
	color: white;
	margin: 0;
	/*margin-top: -106px;*/
	/*top: 100px;*/
	background-color: black;
	display: block;

}






